<nav class="fixed-top align-items-center mb-4 bg-masthead">
    <div class="container container-xl d-flex align-items-center justify-content-lg-between">
        <a *ngIf="guest.restaurant==''" class="nav-link display-6 text-light" [routerLink]="'/search'">Allegro</a>
        <a *ngIf="guest.restaurant!=''" class="nav-link display-6 text-light" [routerLink]="'/restaurant/'+guest.restaurant+'/dashboard'">Allegro</a>
        <a *ngIf="!validGuest()" class="nav-item nav-link display-6 col text-end text-light"
            [routerLink]="'/login'">Login</a>
        <div *ngIf="validGuest()" class="align-items-center text-end">
            <div class="d-flex justify-content-center">
                <a class="nav-item nav-link display-6 text-end text-light">{{guest.username}}</a>
                <div class="text-center d-flex justify-content-center"><img (click)="logout()" src="{{'../assets/icons/box-arrow-right.svg'}}" width="36" alt="" /></div>                
            </div>
        </div>
    </div>
</nav>