<form [formGroup]="reservationForm" class="display-8 m-5">
    <div *ngIf=isTakeawayAllowed() class="form-check form-check-inline mb-4">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="checkValue" (click)="setTakeaway()"
            formControlName="takeaway">
        <label class="form-check-label" for="inlineCheckbox1">I order takeaway</label>
    </div>
    <div *ngIf=!isTakeawayAllowed() class="form-check form-check-inline mb-4">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="checkValue" disabled>
        <label class="form-check-label" for="inlineCheckbox1">I order takeaway (not allowed)</label>
    </div>
    <div class="input-group mb-4">
        <span for="date" class="bg-green p-2 rounded-start text-white">Order date</span>
        <input id="date" class="form-control" type="date" formControlName="date" />
    </div>
    <div class="input-group mb-4" formGroupName="time">
        <span class="input-group-number bg-green p-2 rounded-start text-white">Time of your arrival</span>
        <input type="number" aria-label="Hour" class="form-control" min="8" max="23" placeholder="13"
            formControlName="hour">
        <span class="input-group-text">hour</span>
        <input type="number" aria-label="Mins" class="form-control" min="0" max="59" step="10" placeholder="00"
            formControlName="min">
        <span class="input-group-text">min</span>
    </div>
    <div *ngIf="!orderForTakeaway">
        <div class="input-group mb-4" formGroupName="duration">
            <span class="input-group-number bg-green p-2 rounded-start text-white">Length of your stay</span>
            <input type="number" aria-label="Hour" class="form-control" min="0" max="5" placeholder="1"
                formControlName="hour">
            <span class="input-group-text">hour(s)</span>
            <input type="number" aria-label="Mins" class="form-control" min="0" max="30" step="30" placeholder="30"
                formControlName="min">
            <span class="input-group-text">mins</span>
        </div>
    </div>
    <!---------------------------- MAP START---------------------------->
    <div *ngIf="!orderForTakeaway && map">
        <div class="text-center text-primary my-4">
            {{map.name}}
        </div>
        <div class="row mb-5">
            <div class="col-8">
                <div class="row text-center align-items-center text-white">
                    <div class="col-1"></div>
                    <div *ngFor="let row of map.fields;let it=index" class="col px-0 py-1 display-8 bg-green rounded m-2">
                        {{it+1}}
                    </div>
                </div>
                <div *ngFor="let row of map.fields; let it=index">
                    <div class="row flex-nowrap align-items-center display-8">
                        <span class="text-end col-1">
                            {{it+1}}
                        </span>
                        <div class="col bg-light p-0" *ngFor="let field of row; let i=index">
                            <img *ngIf="field.type != FieldTypes.table" src="{{field.type}}" alt="tile"
                                class="img-fluid rounded">
                            <img *ngIf="field.type == FieldTypes.table && !reserved(it, i) && !chosen(it, i)"
                                src="{{field.type}}" alt="tile" (click)="chooseTable(it, i)"
                                class="img-fluid rounded border border-5 border-primary">
                            <img *ngIf="field.type == FieldTypes.table && !reserved(it, i) && chosen(it, i)"
                                src="{{field.type}}" alt="tile" (click)="removeTable(it, i)"
                                class="img-fluid rounded border border-5 border-primary bg-green">
                            <img *ngIf="field.type == FieldTypes.table && reserved(it, i)" src="{{FieldTypes.reserved}}"
                                alt="tile" class="img-fluid rounded bg-green">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <img class="ms-1 mb-1" src="{{map.image}}" width="240" alt="floor" />
                </div>
                <div class="mb-4">
                    <div class="display-8 bg-green rounded text-white text-center my-2 py-1">Number of seats at
                        table</div>
                    <span class="text-italic text-muted small">[horizontal : <span
                            class="bg-green text-white rounded">vertical</span>] coordinates</span>
                </div>
                <div *ngFor="let row of map.fields; let it=index">
                    <div class="align-items-center display-8">
                        <div *ngFor="let field of row; let i=index">
                            <div *ngIf="field.type == FieldTypes.table" class="row">
                                <div class="col-2">[{{it+1}}:<span class="bg-green text-light rounded">{{i+1}}</span>]
                                </div>
                                <div class="col">
                                    <span class="fw-bolder">{{field.data}}</span> seat(s)
                                    <span *ngIf="!chosen(it, i)" class="btn p-1" (click)="chooseTable(it, i)">Choose</span>
                                    <span *ngIf="chosen(it, i)" class="btn p-1" (click)="removeTable(it, i)">Remove</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <!--------------------------- MAP END----------------------------->
</form>
<div class="row fixed-bottom">
    <div class="col-8"></div>
    <div class="col-4 d-flex justify-content-between mt-5 mb-4">
        <div class="btn btn-secondary p-3 mx-2 col" (click)="goToRestaurant()">
            BACK
            <img class="ms-1 mb-1" src="{{'../assets/icons/caret-left.svg'}}" width="24" alt="caret" />            
        </div>
        <div *ngIf="!isNextDisabled()" class="btn btn-secondary align-items-center p-3 mx-2 col" (click)="goToMenu()">
            MENU
            <img class="ms-1 mb-1" src="{{'../assets/icons/caret-right.svg'}}" width="24" alt="caret" />
        </div>
        <div *ngIf="isNextDisabled()" class="btn btn-secondary align-items-center p-3 mx-2 col disabled">
            MENU
            <img class="ms-1 mb-1" src="{{'../assets/icons/caret-right.svg'}}" width="24" alt="caret" />
        </div>
    </div>
</div>
