<div class="list-group" *ngIf="restaurants">
    <nav *ngFor="let restaurant of restaurants" [routerLink]="['/restaurant', restaurant.id]"
        (click)="onSelect(restaurant)" class="list-group-item list-group-item-action flex-column d-flex ">
        <div class="row align-items-center">
            <div class="col-2 text-center"><img src="{{restaurant.image}}" width=100 alt="Restaurant"></div>
            <h5 class="mb-1 col-2 display-8">{{restaurant.name}}</h5>
            <div class="col-2"></div>
            <small class="col-2 text-muted">{{restaurant.style}}</small>
            <div class="col-2">
                <div class="ratings">
                    <div *ngFor="let price of times(restaurant.pricing)" class="p-0">
                        <img src="{{'../assets/icons/currency-dollar.svg'}}" alt=""/>
                    </div>
                    <div *ngFor="let price of times(5-restaurant.pricing)" class="p-0">
                        <img src="{{'../assets/icons/currency-dollar.svg'}}" alt="" class="svg-filter-light-gray"/>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="ratings">
                    <div *ngFor="let rate of times(restaurant.rating)" class="p-0">
                        <img src="{{'../assets/icons/star-fill.svg'}}" alt=""/>
                    </div>
                    <div *ngFor="let rate of times(5-restaurant.rating)" class="p-0">
                        <img src="{{'../assets/icons/star.svg'}}" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>